include common/bemto/bemto

doctype html
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(charset="UTF-8")
    meta(name="HandheldFriendly" content="True")
    meta(name="MobileOptimized" content="320")
    //- IOS
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    //- Chrome
    meta(name="mobile-web-app-capable" content="yes")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //- fav ico
    link(rel="shortcut icon" href="" type="image/png")
    link(rel="icon" href="" type="image/png")
    //- фонты
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800&subset=latin,cyrillic")

    link(rel="stylesheet", type="text/css", href="common/normalize.css")
    link(rel="stylesheet", type="text/css", href="common/base.css")
    link(rel="stylesheet", type="text/css", href="styles/todo.css")

    meta(name="apple-mobile-web-app-title", content="Crash Course TODO List")
    title Crash Course TODO List

  body

    +b.todo
      +e.window
        +e.window-header
          +e('h1').window-header-text TODO

          +b.todo-filter
            +e('label').item
              +e('input').input(type="radio", value="1", name="todo-filter")
              +e('span').text todo
            +e('label').item
              +e('input').input(type="radio", value="2", name="todo-filter")
              +e('span').text done
            +e('label').item
              +e('input').input(type="radio", value="3", name="todo-filter", checked)
              +e('span').text all

        +e.window-body

          +e('ul').list

            +e.list-item
              +b('div').todo-item
                +e('input').input(type="checkbox", value="1", checked)
                +e('span').text Купить масло
              +b('a').todo-del(href="")

            +e.list-item
              +b('div').todo-item
                +e('input').input(type="checkbox", value="1")
                +e('span').text Оплатить коммуналку
              +b('a').todo-del(href="")

            +e.list-item
              +b('div').todo-item
                +e('input').input(type="checkbox", value="1")
                +e('span').text Подготовить материал для стажеров
              +b('a').todo-del(href="")

            +e.list-item
              +b('div').todo-item
                +e('input').input(type="checkbox", value="1")
                +e('span').text Какой-нибудь довольно длинный текст, чтобы посмотреть как оно будет
              +b('a').todo-del(href="")

            +e.list-item
              +b('div').todo-item
                +e('input').input(type="checkbox", value="1")
                +e('span').text Заверстать тудушник
              +b('a').todo-del(href="")


        +e.window-footer
          +b('form').control-container
            +e.input
              +b('input').new-todo-input(type="text", placeholder="Новая задача")
            +e.submit
              +b('button').add-new-todo(type="submit")