//- https://github.com/kizu/bemto
include bemto

//- определяем блок
+b.block1
  //- добавляем к нему элемент
  +e.element1 Foo
  //- определяем другой блок
  +b.block2
    //- если элемент не div, то добавляется это в скобках
    +e('a')(href="#bar").element Bar
  +e.element2 Baz

//- чтобы добавить и класс блока и модификатора
  просто пишем модификатор, блок автоматически встанет

+b.myblock_foo
  //- начнем класс без подчеркивания и он будет просто классом
  +b.block_mod1.mod2.mod3
  //- но если его начать с подчеркивания – будут модификаторы
  +b.block_mod1._mod2._mod3

// - блок и мод в одном

// блок с его модификатором
+b.b-card._avatar
  // элемент блока, с своим модификатором
  +e('h1').title._mod-title Header
  +e.body Lorem ipsum dolor sit amet, consectetur adipiscing
  // элемент со свойством
  +e('input').input(type="button", value="text", placeholder="вася")