::selection
  background transparent
::-moz-selection
  background transparent

button:focus, button:active
  outline none !important


// ссылки

a, a:hover, a:active, a:focus
  overflow hidden
  outline none // убрать пунктиры в файере
  //border: 0

a, a:hover, a:active, a:focus, select
  -webkit-tap-highlight-color rgba(0,0,0,0) // убрать выделение при тапе в андройде и айфоне
  -webkit-touch-callout none // or inherit  - отключает панель, которая появляется когда жмешь и удерживаешь ссылку или другой объект

a[href=""], a[ng-href]
  cursor pointer


*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box



body
  -webkit-overflow-scrolling touch
  font-family: "Open Sans", san-serif 
  font-size: 14px

input, button, textarea
  -webkit-appearance: none
  -moz-appearance:none
  -o-appearance:none
  apearance: none

  outline none /* remove focus ring from Webkit */
  -webkit-tap-highlight-color rgba(0,0,0,0) /* убрать выделение при тапе в андройде и айфоне */


input[type=submit]:focus
  outline none !important

a[href]
  cursor pointer

// Для главной странички

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

iframe
  border none




html
  height: 100%;

body
  min-height: 100%;



html
  background-color white
  background-image: none
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-size: 14px
  line-height: 1.42857143
  color: #333
  padding: 0;
  margin: 0;
  min-width: 320px
  background-color: white

a
  $link-color = #3476BD
  color $link-color
  none-decoration()

  &:hover
    color darken($link-color, 25%)


hr
  height: 1px
  border: 0
  background-color: #ddd


// --- Хэлперы

.hidden
  display: none
  visibility: hidden
